

//color variant
//border
$border-basic:  #2d8cf0;
$border-white:  #FFFFFF;
$border-red:    #ed4014;
$border-transparent:  rgba(0, 0, 0, 0.1);
//font
$font-dark:    #303133;
$font-gray:    #606266;
$font-light:   #909399;
$font-purity:  #C0C4CC;
$font-white:   #FFFFFF;
$font-red:     #ed4014;
$font-basic:   #2d8cf0;
//button
$button-gray:   #E2E2E2;
$button-blue:   #004EA1;
$button-basic:  #2d8cf0;
//background
$bg-white:       #FFFFFF;
$bg-form:        #F5F5F5;
$bg-container:   #F7F9FA;
$bg-basic:       #2d8cf0;
$bg-nav:         #2C3D45;
$bg-side:        #47606C;
$bg-red:         #ed4014;
$bg-blue:        #004EA1;
//index variant
$first-index:    9;
$second-index:   99;
$third-index:    999;

