
@import "@/assets/scss/variable";

.fence-container{
  width: 100%;
  height: 100%;
  background: $bg-white;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid $border-transparent;
  min-height: 640px;
  .fence-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .title-process{
    display: inline-flex;
    align-items: center;
    color: $font-light;
    .num{
      font-size: 24px;
      margin-bottom: 4px;
    }
    .icon-duihao2{
      font-size: 24px;
      color: $font-basic;
    }
    .text{
      font-size: 14px;
      margin-left: 4px;
    }
  }
  .process-line{
    display: inline-block;
    height: 1px;
    width: 260px;
    background: #dddddd;
    margin: 12px;
  }
  .line-active{
    background: $bg-basic;
  }
  .active-icon{
    color: $font-basic;
  }
  .active-text{
    color: $font-dark;
  }
}

.draw-container{
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .selection{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    .title{
      font-size: 14px;
      color: $font-dark;
    }
    .icon-box{
      margin-top: 40px;
      display: inline-block;
      position: relative;
      &:hover{
        .icon-name{
          display: inline-block;
        }
      }
    }
    .icon-name{
      display: none;
      position: absolute;
      top: 3px;
      left: 40px;
      padding: 0 8px;
      line-height: 24px;
      color: $font-white;
      font-size: 12px;
      text-align: center;
      background: #616161;
      border-radius: 4px;
      white-space: nowrap;
      z-index: 3
    }
    .iconfont{
      color: $font-light;
      cursor: pointer;
      font-size: 32px;

    }
    .icon-juxing, .icon-rect{
      font-size: 28px;
    }

    .icon-rect, .icon-fanxiangyuanjiaoliubianxing, .icon-yuan-copy-copy-copy-copy{
      color: $font-basic;
    }
  }
  .draw-box{
    display: inline-block;
    width: calc(100% - 120px);
    height: 100%;
    border: 1px solid $border-transparent;
    position: relative;
  }
  #fengmap{
    width: 100%;
    height: 100%;
  }
}
.draw-btn{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}